body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ecf0f1;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CABEÇALHO */

.cabecalho {
    background: rgba(25, 20, 41, 255);
    width: 100%;
    height: 70px;
    border-bottom: 5px solid rgb(122, 21, 206);
    position: absolute;
}

.caixa {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.cabecalho img {
    width: 180px;
    float: left;
}

.cabecalho nav {
    float: right;
}

nav {
    margin-top: 0.5%;
}

.list_modify {
    font-style: inherit;
    display: inline;
    margin-left: 22px;
    font-size: 20px;
    transition-duration: 0.4s;
    color: rgb(122, 21, 206);
}

.list_modify:hover {
    color: rgb(192, 159, 223);;
}

ul {
    margin-bottom: 5px;
    list-style: none;
}

ul li {
    display: inline;
    margin-left: 20px;
    font-size: medium;
    border-bottom: 0px rgba(255, 255, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/* MEIO */

.sobre {
    text-align: left;
    padding: 100px 0 0px 13px;
    display: inline-block;
    align-items: center;
}

.sobre img {
    float: right;
    margin-right: 30px;
    box-shadow: 0px 3px 11px 2px #232323;
}

.botao {
    font-size: 16.5px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    color: rgb(207, 112, 24);
}

.referencias {
    color: #ecf0f1;
    background-color: rgba(25, 20, 41, 255);
    border-bottom: 5px solid rgb(122, 21, 206);
    border-top: 5px solid rgb(122, 21, 206);
}

.referencias h2 {
    text-align: center;
}

.referencias img {
    width: 200px;
}

.referencias .galileugalilei {
    width: 30%;
    color: black;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-block-end: 50px;
    font-size: 20px;
    border-left: 3px solid rgb(122, 21, 206);
    border-top: 3px solid rgb(122, 21, 206);
    border-right: 3px solid rgb(122, 21, 206);
    border-bottom: 3px solid rgb(122, 21, 206);
    border-radius: 67px;
}

.referencias .carlsagan {
    width: 30%;
    color: black;
    float: left;
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
    margin-block-end: 50px;
    font-size: 20px;
    border-left: 3px solid rgb(122, 21, 206);
    border-top: 3px solid rgb(122, 21, 206);
    border-right: 3px solid rgb(122, 21, 206);
    border-bottom: 3px solid rgb(122, 21, 206);
    border-radius: 67px;
}

.referencias .stephenhawking {
    width: 30%;
    color: black;
    float: right;
    text-align: center;
    margin-top: 27px;
    margin-right: 10px;
    margin-block-end: 50px;
    font-size: 20px;
    border-left: 3px solid rgb(122, 21, 206);
    border-top: 3px solid rgb(122, 21, 206);
    border-right: 3px solid rgb(122, 21, 206);
    border-bottom: 3px solid rgb(122, 21, 206);
    border-radius: 67px;
}

/* RODAPÉ */

.rodape {
    background-color: rgba(25, 20, 41, 255);
    color: #ecf0f1;
    width: 100%;
    height: 90px;
    float: left;
}

.box_rodape {
    width: 95%;
    height: 90%;
    margin: 0 auto;
}

.logo_top {
    height: 80px;
    float: left;
}

.copyright {
    text-align: center;
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 29.5%;
    margin-top: 35px;
}

.logo_site {
    height: 80px;
    float: right;
}